<mat-toolbar color="primary" style=" color:rgb(17, 17, 16); background-color: rgb(226, 156, 195);">
     <span>Github Profile Viewer</span>
</mat-toolbar>
<div class="container">
  <form class="userForm" [formGroup]="myForm">
    <mat-form-field>
      <input matInput placeholder="Enter Github username" formControlName="username">
    </mat-form-field>
    <button mat-mini-fab (click)="findUser()" style="width: 60px; height: 60px;">Find Me</button>

  </form>
  <div *ngIf="isLoaded"><mat-progress-spinner class="example-margin" color=accent mode=indeterminate></mat-progress-spinner>
  </div>
  <div *ngIf="ifUserAvailable">
    <mat-card class="userDataCard">
      
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>{{location}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{avatarUrl}} alt="no profile image">
      <mat-card-actions>
        <a href="{{htmlUrl}}">Goto Github Page</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>